<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= subject %>
    </title>
</head>

<body>
    <h1>Hello, <%= name %>!</h1>
    <p>This is your email content:</p>
    <ul>
        <li><strong>Email:</strong>
            <%= email %>
        </li>
        <li><strong>Message:</strong>
            <%= message %>
        </li>
    </ul>
    <p>Thanks & Regards!</p>
</body>

</html>